<%- include('../partials/header.ejs') %>

  <main>

    <h2>Welcome, <%= user.firstName %>
    </h2>
    <% if (events.length> 0) { %>
      <p>You have created these events</p>
      <div class="container-profile">
        <% events.forEach(event=> { %>
          <div class="event-container mb-3 d-flex justify-content-between align-items-center">
            <a href="/events/<%= event.id %>">
              <p class="mb-0">
                <%= event.title %>
              </p>
            </a>
            <div class="d-flex align-items-center">
              <!-- Edit Button with Icon -->
              <a href="/events/<%= event.id %>/edit" class="btn btn-primary me-2">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <!-- Delete Button with Icon -->
              <form action="/events/<%= event.id %>?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </form>
            </div>
          </div>
          <% }); %>
            <% } else { %>
              <p>You have not created any events</p>
              <% } %>
      </div>

  </main>

  <%- include('../partials/footer.ejs') %>